.site-body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*----header-----*/

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42, #4d5ae5;
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-link:hover {
  color: #ffffff;
}
.header-link:focus {
  color: #ffffff;
}
.header-mailto,
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main {
}

/*------hero--------*/

.hero {
  background-color: #2e2f42;
}
.hero-caption {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

/*------text--------*/

.text {
}
.text-list {
}
.text-item {
}
.text-title {
  color: #2e2f42;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----about-----*/

.about {
}
.about-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.about-list {
}
.about-item {
}

/*------user--------*/

.user {
}
.user-logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.user-list {
}
.user-item {
}
.user-quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----footer-----*/

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5, #f4f4fd;
}
.footer-quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/*----features-----*/

.features-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.features-btn:hover {
  color: #ffffff;
}
.features-btn:focus {
  color: #ffffff;
}
.features-title {
  color: #2e2f42;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
